<!DOCTYPE html>
<html>
  <body>
    <h1>¡Primera compra del producto!</h1>
    <p>Hola <%= @creator.name %>,</p>
    <p>El producto <strong><%= @product.name %></strong> ha sido comprado por primera vez.</p>
    <p>Cliente: <%= @client.name %> (<%= @client.email %>)</p>
    <p>¡Sigue creando productos increíbles!</p>
  </body>
</html>
